before_script: 
   - "git submodule add https://forge.univ-artois.fr/root/testsl32016.git"
   - "git submodule update --remote --init"

job1:
   stage: test
   script: "./build.sh ; cd testsl32016; ./tests1.sh"
   artifacts:
     untracked: true
   tags: 
     - shell

job2:
   stage: test
   script: "./build.sh ; cd testsl32016; ./tests2.sh"
   artifacts:
     untracked: true
   tags: 
     - shell

job3:
   stage: test
   script: "./build.sh ; cd testsl32016; ./tests3.sh"
   artifacts:
     untracked: true
   tags: 
     - shell

cache:
  untracked: true
  paths:
  - bin
