before_script: 
   - "git submodule add -b transformations https://forge.univ-artois.fr/root/testsl32016.git"
   - "git submodule update --remote --init"

comparateur:
   stage: test
   script: "./build.sh ; cd testsl32016; ./tests1.sh"
   tags: 
     - shell

vectests:
   stage: test
   script: "./build.sh ; cd testsl32016; ./tests2.sh"
   tags: 
     - shell

lecturescenes:
   stage: test
   script: "./build.sh ; cd testsl32016; ./tests3.sh"
   tags: 
     - shell

premieresimages:
   stage: test
   script: "./build.sh ; cd testsl32016; ./tests4.sh"
   tags:
     - shell

imagescouleur:
   stage: test
   script: "./build.sh ; cd testsl32016; ./tests5.sh"
   tags:
     - shell

plansettriangles:
   stage: test
   script: "./build.sh ; cd testsl32016; ./tests6.sh"
   tags:
     - shell

lumiereindirecte:
   stage: test
   script: "./build.sh ; cd testsl32016; ./tests7.sh"
   tags:
     - shell

imagesmystere:
   stage: test
   script: "./build.sh ; cd testsl32016; ./mysteres.sh"
   tags:
     - shell

transformations1:
   stage: test
   script: "./build.sh ; cd testsl32016; ./tests8.sh"
   tags:
     - shell

transformations2:
   stage: test
   script: "./build.sh ; cd testsl32016; ./tests9.sh"

damiers:
   stage: test
   script: "./build.sh ; cd testsl32016; ./tests10.sh"
   tags:
     - shell

auditcode:
   stage: test
   script: "./testsl32016/sonar-scanner-2.5.1/bin/sonar-runner -Dsonar.projectKey=tracer$CI_PROJECT_ID -Dsonar.projectName=Raytracerr_by_$CI_PROJECT_ID"
   tags:
     - shell
     
build_final:
  script: "./buildAndZip.sh"
  artifacts:
    paths:
      - LanceurDeRayon.zip